# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# System files
.DS_Store

#  npm cache
.npm

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
.vercel
